*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #292525;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbarDiv{
    height: 10vh;

    display: flex;
    flex-direction: row;
}

/* logo Design*/
#logoDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#logoDiv h1{
    font-size: 70px;
    color: #0A9396;
}

#logoDiv h3{
    font-size: 30px;
    height: min-content;
    color: #fff;
    
    margin-bottom: 10px;
}   

.contentDiv{
    height: 75vh;
}

.playerDiv{
    height: 15vh;
}